* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  font-family: "Comfortaa", cursive;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.game-title,
.game-description {
  color: #81caa8;
  font-size: 40px;
  text-align: center;
}

@keyframes animationButton {
  0% {
    width: 200px;
    height: 50px;
  }
  50% {
    width: 220px;
    height: 55px;
  }
  100% {
    width: 200px;
    height: 50px;
  }
}

.btn-init-game {
  z-index: 2;
  margin-top: 15px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #81caa8;
  color: #161616;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 22px;
  animation: 1s ease-in-out infinite animationButton;
}

.container-balloons {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.balloon {
  width: 90px;
  height: auto;
  cursor: url("./assets/alfinete.png"), auto;
  position: absolute;
}

.counter {
  color: #000;
  background-color: #81caa8;
  padding: 20px;
  font-weight: bold;
  margin-left: auto;
  display: none;
}