* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container-baloes {
  height: 100%;
  width: 100%;
  background-color:cornflowerblue;
}

.balao {
  width: 80px;
  position: absolute;
}
.balao:hover {
  cursor: url('/assets/alfinete.png'), auto;
}

.alfinete {
  width: 50px;
}
