* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  font-family: "Comfortaa", cursive;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  position: relative;
  top: 0;
}

.game-title,
.game-description {
  color: #81caa8;
  font-size: 40px;
  text-align: center;
}

@keyframes animationButton {
  0% {
    width: 200px;
    height: 50px;
  }
  50% {
    width: 220px;
    height: 55px;
  }
  100% {
    width: 200px;
    height: 50px;
  }
}

.btn-init-game {
  z-index: 2;
  margin-top: 15px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #81caa8;
  color: #161616;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 22px;
  animation: 1s ease-in-out infinite animationButton;
}

.container-balloons {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.balloon {
  width: 90px;
  height: auto;
  cursor: url("./assets/alfinete.png"), auto;
  position: absolute;
}

.game-levels {
  display: flex;
  z-index: 3;
}
.levels {
  display: flex;
  flex-direction: column;

}
/* .levels input {
  display: none;
} */
#easy:checked + label {
  color: white;
}
#medium:checked + label {
  color: white;
}
#hard:checked + label {
  color: white;
}
.game-over-container {
  background-color: #81caa8;
  position: absolute;
  left: 35vw;
  top: 35vh;
  width: 30vw;
  height: 30vh;
  border-radius: 20%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}