* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #161616;
  --secondary-color: #ed244f;
  --tertiary-color: #34a8eb;
}

body {
  background-color: var(--primary-color);
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: relative;
  top: 0;
  padding: 15px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.description {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.game-title {
  color: var(--secondary-color);
  font-size: 36px;
}

.game-description {
  color: var(--tertiary-color);
  font-weight: 400;
  font-size: 30px;
}

.score, .record {
  border: 1px var(--tertiary-color) solid;
  width: 10vw;
  height: 10vh;
  padding: 5px;
  border-radius: 5px;
  color: var(--tertiary-color);
}

.score-number, .record-number {
  text-align: center;
  color: #cfcfcf;
  font-weight: 600;
}

@keyframes animationButton {
  0% {
    width: 200px;
    height: 50px;
  }
  50% {
    width: 220px;
    height: 55px;
  }
  100% {
    width: 200px;
    height: 50px;
  }
}

.init-container {
  display: flex;
  /* width: 50vw; */
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}
.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-init-game {
  z-index: 2;
  font-size: 18px;
  width: 50%;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 3px 4px;
  cursor: pointer;
  border: none;
  outline: none;
}

.game-levels{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 20px;
}

.levels {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.container-balloons {
  position: relative;
  top: 20vh;
  left: 5vw;
  border: 2px var(--secondary-color) solid;
  width: 90vw;
  height: 75vh;
  border-radius: 2px;
}

/* @keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

@keyframes floatup{
  100% {
    top: 0;
  }
}
.balloon {
  width: 90px;
  height: auto;
  cursor: url("./assets/alfinete.png"), auto;
  position: absolute;
  /* animation: slideup 0.4s ease; */
  animation: floatup 2s ease-in forwards;
}


#easy:checked + label {
  color: white;
}

#medium:checked + label {
  color: white;
}

#hard:checked + label {
  color: white;
}

.game-over-container {
  background-color: var(--secondary-color);
  position: relative;
  top: 10%;
  margin: auto;
  width: 30vw;
  height: 30vh;
  border-radius: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}