* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #161616;
}

h2 {
  color: white;
  font-family: monospace;
}

.container-baloes {
  height: 100%;
  width: 100%;
}

.balao {
  width: 80px;
  position: absolute;
}
